.main {

    .cls-1,
    .cls-2,
    .cls-3,
    .cls-4 {
        stroke-width: 0px;
    }

    .cls-2 {
        fill: #2d496c;
    }

    .cls-5 {
        fill: #aa6331;
        stroke: #aa6331;
        stroke-miterlimit: 10;
    }

    .cls-3 {
        fill: #fff;
    }

    .cls-4 {
        fill: #00355f;
    }

}

.group input[type="number"]::-webkit-outer-spin-button,
.group input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.group input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
}

.group div {
    pointer-events: auto;
}

.group div:nth-child(1) {
    top: 24.5%;
    right: 18%;
}

.group div:nth-child(2) {
    top: 38%;
    left: 21%;
}

.group div:nth-child(3) {
    bottom: 10.5%;
    left: 5.5%;
}

.group div:nth-child(4) {
    top: 44.5%;
    right: 18%;
}

.group div:nth-child(5) {
    bottom: 17%;
    left: 16%;
}

.group div:nth-child(6) {
    bottom: 30.5%;
    right: 21%;
}

.group div:nth-child(7) {
    bottom: 19.5%;
    right: 29.5%;
}

.group div:nth-child(8) {
    top: 57%;
    left: 13%;
}