* {
    font-weight: 500;
}

.topButtonGroup button p {
    letter-spacing: 0.05em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.plotComponents .renderComponent {
    background-color:beige;
}

.buttonsGroup .icon {
    font-size: clamp(0.8em, 1.5vw, 1.5em);
}

.left-li-plus .icon {
    font-size: 1em;
}

.li-input .icon {
    font-size: 1em;
}

.li-b .icon {
    font-size: 2em;
}

.colorPicker {
    flex: 1 !important;
    display: flex;
    align-items: center;
    justify-items: center;
}

.colorPicker .vc-color-wrap {
    flex: 1 !important;
    margin-right: 0 !important;
}

.current-color {
    user-select: none;
}

.foot-h1 {
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
}

