* {
    font-weight: 500;
}

.left-li-plus .iconfont {
    font-size: 1em;
}

.li-input .iconfont {
    font-size: 1em;
}

.li-b .iconfont {
    font-size: 2em;
}

.vc-color-wrap {
    margin-right: 0 !important;
    border: 0px !important;
    width: 30px !important;
    height: 30px !important;
    flex-shrink: 0 !important;
    display: inline-block !important;
}

.current-color {
    user-select: none;
}

.logo {
    background: linear-gradient(75deg, #e18b6e, #e3826f, #e47a72, #e47177, #e2687d, #e06086, #dc598f, #d75299);
    background-clip: text;
    -webkit-background-clip: text;
}

.logo h1 {
    font-size: clamp(1.25rem, 0.962rem + 1.44vw, 3.125rem);
}

.top-buttonsGroup button {
    font-size: clamp(0.625rem, 0.481rem + 0.72vw, 1.563rem);
    height: clamp(2em, 6vh, 4em);
}

.li-top .iconfont {
    font-size: 1em;
}

.user-info .iconfont {
    font-size: clamp(0.313rem, 0.168rem + 0.72vw, 1.25rem);
}

/* 缩放步长控制器样式 */
.zoomFactorControl .input {
    background-color: rgba(38, 27, 37, 1);
    border-color: rgba(69, 54, 49, 1);
    color: rgba(197, 159, 105);
}

.zoomFactorControl .input:focus {
    border-color: rgba(197, 159, 105);
    outline: none;
}

/* 移动步长控制器样式*/
.moveStepControl .input {
    background-color: rgba(38, 27, 37, 1);
    border-color: rgba(69, 54, 49, 1);
    color: rgba(197, 159, 105);
}

.moveStepControl .input:focus {
    border-color: rgba(197, 159, 105);
    outline: none;
}

.bg-enter-active,
.bg-leave-active {
    transition: opacity 0.3s ease;
}

.bg-enter-from,
.bg-leave-to {
    opacity: 0;
}

.table-enter-active,
.table-leave-active {
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.table-enter-from,
.table-leave-to {
    opacity: 0;
    transform: scale(0.9);
}

.register-btn .iconfont {
    font-size: 1.8em;
}

.login-btn .iconfont {
    font-size: 1.5em;
}

.chart-leftTop {
    position: absolute;
    top: 0;
    left: 1.5%;
    width: 60px;
    height: 100px;
    background-color: rgba(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 2;
}

.chart-rightTop {
    position: absolute;
    top: 0;
    right: -1px;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0);
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    z-index: 3;
}

.user-avatar {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    user-select: none;
    z-index: 11;
    object-fit: contain;
    cursor: pointer;
}

.listControl .iconfont {
    font-size: 1.5em;
}

.leftList-enter-active,
.leftList-leave-active {
    transition: transform 0.2s ease;
}

.leftList-enter-from,
.leftList-leave-to {
    transform: translateX(-100%);
}

.chart-leftTop svg .cls-2 {
    stroke-width: 0px;
    fill: #fff;
    transform: translate(270px, 40px) scale(-1.5, 1.5) rotate(-20deg);
}

.main-left {
    background-image: url('/侧边栏背景/侧边栏背景（已剪切）.png');
    background-size: 100% 100.3%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    pointer-events: none;
}

.main-left * {
    pointer-events: auto;
}

.leftList-rightTop {

    .cls-1,
    .cls-2 {
        stroke-width: 0px;
    }

    .cls-2 {
        fill: #fff;
    }
}

.renderComponent {
    background-color: white;
    clip-path: polygon(0 0,
            1.52% 0,
            1.52% 100px,
            3% 40%,
            0 90%,
            4% 100%,
            0 100%,
            100% 100%,
            100% 0,
            0 0);
}

.main-left,
.fnList {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-left::-webkit-scrollbar,
.fnList::-webkit-scrollbar {
    display: none;
}

.fnList2 {
    background-image: url('/函数表达式输入框组件/输入函数组件（终极版）.png');
    background-size: 100% 100.3%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    pointer-events: none;
    width: clamp(33.75rem, 4.655rem + 46.55vw, 67.5rem);
    height: clamp(22.5rem, 3.103rem + 31.03vw, 45rem);
}

.fnList2 * {
    pointer-events: auto;
}

.fnList2 ul {
    li:nth-child(1) {
        height: 15%;
        transform: rotate(-2deg);
    }

    li:nth-child(2) {
        height: 15%;
        transform: translateY(28%);
    }

    li:nth-child(3) {
        height: 15%;
        transform: translateY(30%) rotate(1deg);
    }

    li:nth-child(4) {
        height: 15%;
        transform: translateY(40%) rotate(-1deg);
    }

    li:nth-child(5) {
        height: 15%;
        transform: translateY(60%) rotate(-4deg);
    }
}

.liRight img:nth-child(1) {
    width: clamp(1.313rem, 0.181rem + 1.81vw, 2.625rem);
    height: clamp(1rem, 0.138rem + 1.38vw, 2rem);
}

.liRight img:nth-child(2) {
    width: clamp(1.313rem, 0.181rem + 1.81vw, 2.625rem);
    height: clamp(1.125rem, 0.155rem + 1.55vw, 2.25rem);
}

.fnList2 ul input::placeholder {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.liBottom {

    .cls-1,
    .cls-2 {
        stroke-width: 0px;
    }

    .cls-2,
    .cls-3 {
        fill: #fff;
    }

    .cls-3 {
        stroke: #fff;
        stroke-miterlimit: 10;
    }
}
.liInput {
    font-size: clamp(1.25rem, 0.388rem + 1.38vw, 2.25rem);
}