* {
    font-weight: 500;
}

.home {
    position: absolute;
    display: flex;
    letter-spacing: 0.1em;
    width: 100%;
    height: 15vh;
}

.home .top {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
}

.top .head {
    display: flex;
}

.top .topButtonGroup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    height: 25%;
}

.topButtonGroup button p {
    letter-spacing: 0.05em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.top .inputContainer {
    display: flex;
    justify-content: center;
    user-select: none;
}

.plotComponents {
    position: relative;
    height: 100%;
    width: 75%;
}

.plotComponents .renderComponent {
    width: 100%;
    height: 100%;
    position: relative;
    background-color:beige;
}


.plotComponents .buttonsGroup {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items:start;
    width: 30%;
    height: 10%;
    bottom: 0;
    right: 2em;
}

.buttonsGroup .icon {
    font-size: 1.5em;
}








