.function-plot .top-right-legend {
    display: none;
}

.function-plot .canvas .x, .function-plot .canvas .y {
    font-size: 0.8rem;
    user-select: none;
}

.function-plot .canvas .tip text {
    font-size: 2rem;
    user-select: none;
}

.function-plot .canvas .content .origin{
    opacity: 0.6;
}