* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: 'deYiHei';
  src: url('./assets/deYiHei.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-family: 'deYiHei', sans-serif;
}

#app {
  text-align: center;
}