@import "tailwindcss";
@plugin "daisyui" {
  themes: coffee --default, dark --coffee, prefersdark, cupcake;
}

@font-face {
  font-family: 'deYiHei';
  src: url('/deYiHei.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: '庞门正道标题体';
  src: url('/庞门正道标题体.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'NanumPenScript-Regular';
  src: url('/NanumPenScript-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono-Italic-VariableFont_wght';
  src: url('/RobotoMono-Italic-VariableFont_wght.woff2') format('woff2');
  font-style: normal;
}

html {
  min-width: 100dvw;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-family: 'RobotoMono-Italic-VariableFont_wght', '庞门正道标题体', sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  @apply bg-gray-900;
}


@import url('../assets/componentCss/home.css');
@import url('../assets/componentCss/icon1.css');

/* 图表类型选择器样式 */
.graphTypeSelector .select {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    color: rgba(197,159,105); /* 选择框中显示的文字颜色 */
}

.graphTypeSelector .select:focus {
    border-color: rgba(255, 255, 255, 0.5);
    outline: none;
}

/* 修复下拉选项的字体颜色 */
.graphTypeSelector .select option {
    background-color: rgba(245,245,220); /* 背景 */
    color: rgb(197,159,105); /* 文本 */
}

/* 确保悬停状态有明显的区分 */
.graphTypeSelector .select option:hover,
.graphTypeSelector .select option:focus,
.graphTypeSelector .select option:active {
    background-color: rgba(255, 255, 255, 0.2);
}