@import "tailwindcss";
@plugin "daisyui" {
  themes: coffee --default, dark --coffee, prefersdark, cupcake;
}

@font-face {
  font-family: 'deYiHei';
  src: url('./assets/deYiHei.woff2') format('woff2');
  font-style: normal;
}

html {
  font-size: 18px;
  min-width: 100dvw;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-family: 'deYiHei', sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  @apply bg-gray-900;
}